main > nav{width: 20rem; float: left;}
	/*menu*/
	main > nav > ul {float: left; width: 90%; margin: 1rem;  margin-left: 2rem;}
	main > nav > ul > li{width: 100%; font-size: 1.4rem; background: #53ac63; color: #fff;}
	main > nav > ul > li > img{margin-right: .5rem; max-width: 1rem;  margin-left: 1rem;}
	/*submenu itens*/
	main > nav > ul > li > ul{ float: left; width: 100%;}
	main > nav > ul > li > ul > li{margin-top: .2rem;}
	main > nav > ul > li > ul > li > a{float: left;  margin-left: 1.5rem; width: 92.5%}
	main > nav > ul > li > ul > li > a:hover{color: #fff; background: #80cb70;}
	
main > div{
	width: 100rem;
	float: left;
	margin-left: 1rem;
	margin-top: .5rem;	
}

.inputField{ height: 2.3rem; border: 0.1rem solid #1d3a22; }

main > div